body {
    background-color: #03242e;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: aliceblue;
    text-align: center;
    position: relative; 
    top: 17.5%; 
}

h3 {
    color:aliceblue;
    position: absolute;
    font-size: 24px;
}

#h3_1 {
    left: 232px;
    top: 265px;
}

#h3_2 {
    left: 168px;
    top: 504px;
}

#h3_3 {
    left: 220px;
    top: 713px;
}

#h3_4 {
    left: 550px;
    top: 120px;
    color: rgb(150, 250 , 100)
}

#h3_5 {
    left: 1030px;
    top: 105px;
    color: rgb(150, 250, 100);
}

table {
    position: relative;
    height: 100vh; 
    margin: 0;
}

.vertical-line {
    position:absolute;
    top: 130px;
    left: 525px;
    width: 2px;
    height: 700px;
    background-color: rgb(20, 20, 20)
}


.image {
    width: 100px; 
    height: auto; 
    position: absolute; 
}


#image1 {
    top: 200px;  
    left: 400px; 
}


#image2 {
    top: 310px; 
    left: 400px; 
}


#image3 {
    top: 440px; 
    left: 400px; 
}


#image4 {
    top: 550px; 
    left: 400px; 
}


#image5 {
    top: 700px; 
    left: 400px; 
}

#image6 {
    top: 120px; 
    left: 1100px; 
    width: 10%; 
}

#image7 {
    top: 207px; 
    left: 550px; 
    width: 40%; 
}

#image8 {
    top: 317px; 
    left: 550px; 
    width: 40%; 
}

#image9 {
    top: 446px; 
    left: 550px; 
    width: 40%; 
}

#image10 {
    top: 556px; 
    left: 550px; 
    width: 40%; 
}

#image11 {
    top: 706px; 
    left: 550px; 
    width: 40%;
}

td {
    position:relative; 
}

a {
    position:absolute;
    top:20px;
    left:20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}